@model AlbumCollection.Models.Album

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Details.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div class="topNav">
        <a href="/Album/Index">Home</a>
    </div>

    <div class="image">
        <img src="@Model.ImgPath" />
    </div>

    <h1>@Model.Name</h1>
    <h2>By</h2>
    <h2>@Model.ArtistName</h2>

    <ol>
        @foreach (var Song in Model.Songs)
        {
            <li>@Song.Name</li>
        }
    </ol>

    <div class="Links">
        <a href="/Song/Create/@Model.AlbumId">Add Song</a>
        <br />
        <a href="/Album/Index">Return</a>
    </div>

</body>
</html>
