@model IEnumerable<AlbumCollection.Models.Album>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <ul>
        @foreach(var Album in Model)
        {
            <li><a href="/Album/Details/@Album.AlbumId">@Album.Name</a></li>
        }
        </ul>
</body>
</html>
