@model IEnumerable<AlbumCollection.Models.Album>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Index.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>

    <div class="topNav">
        <a href="/Album/Index">Home</a>
    </div>

    <h1>Album Collection</h1>

    <div class="container">

        @foreach (var Album in Model)
        {
            <p><a href="/Album/Details/@Album.AlbumId"><img src="@Album.ImgPath" /><br />@Album.Name</a></p>
        }

    </div>
</body>
</html>
