* {
    margin: 0 0 0 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(/Images/bg01.jpg);
    background-size: cover;
    text-align: center;
}

.topNav {
    text-align: center;
    background-color: black;
    padding: 1rem;
}

    .topNav a {
        padding: 1rem;
        text-decoration: none;
        color: white;
    }

        .topNav a:hover {
            background-color: white;
            color: black;
        }
